.main-div {
  border: 10px solid #189b9b;
  width: 100%;
  height: 1000px;
  position: relative;
}

.burgerbox {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: gray;
  text-align: center;
  top: 50%;
  left: 13%;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerburger {
  position: relative;
  height: 80%;
  width: 80%;
  border: 2px solid lightblue;
  background-color: white;
}

.innerburger img {
  position: absolute;
  height: 100px;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -85%);
  width: 100%;
}

.innerburger p {
  position: absolute;
  bottom: 20%;
  transform: translate(0, 80%);
  text-align: left;
  padding: 10px;
  border: 2px solid gray;
  margin: 15px;
}

.otherbox {
  position: absolute;
  width: 500px;
  height: 350px;
  border: 2px solid #be6af7;
  top: 50%;
  right: 13%;
  transform: translate(0, -50%);
}

.upper-inner-otherbox {
  position: relative;
  color: #be6af7;
}

.letters {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.numbers-span {
  float: right;
  bottom: 50%;
  transform: translate(0, -50%);
}

.numbers {
  margin-left: 10px;
  margin-right: 10px;
}

.lower-inner-otherbox {
  position: absolute;
  width: 100%;
  height: 90%;
  border-top: 2px solid #be6af7;
  bottom: 0;
}

.lower-text {
  position: relative;
  width: 100%;
  height: 100%;
}

.lower-text p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  text-align: center;
  color: darkgrey;
  font-family: sans-serif;
  font-weight: lighter;
}
